In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

**Data Inspection**

In [ ]:
df.head(5) # head

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.shape

(150, 5)

In [ ]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
df["sepal_length"].nunique()

35

In [ ]:
df["sepal_length"].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [ ]:
# number of unique values alltogether
df.columns.nunique()

5

In [ ]:
# value counts
df['species'].value_counts()

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

**Dealing with NA values**

In [ ]:
# show null/NA values per column
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
# show NA values as % of total observations per column
df.isnull().sum()*100/len(df)

sepal_length    0.0
sepal_width     0.0
petal_length    0.0
petal_width     0.0
species         0.0
dtype: float64

In [ ]:
# drop all rows containing null
df.dropna()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# drop all columns containing null
df.dropna(axis=1)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# drop columns with less than 5 NA values
df.dropna(axis=1, thresh=5)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# replace all na values with -9999
df.fillna(-9999)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# fill na values with NaN
df.fillna(np.NaN)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# fill na values with strings
df.fillna("data missing")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# fill missing values with mean column values
df.fillna(df.mean())

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

**Column Operation**

In [ ]:
# select a column
df["sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
# select multiple columns and create a new dataframe X
X = df[["sepal_length", "sepal_width", "species"]]
X

     sepal_length  sepal_width    species
0             5.1          3.5     setosa
1             4.9          3.0     setosa
2             4.7          3.2     setosa
3             4.6          3.1     setosa
4             5.0          3.6     setosa
..            ...          ...        ...
145           6.7          3.0  virginica
146           6.3          2.5  virginica
147           6.5          3.0  virginica
148           6.2          3.4  virginica
149           5.9          3.0  virginica

[150 rows x 3 columns]

In [ ]:
# select a column by column number
df.iloc[:, [1,3,4]]

     sepal_width  petal_width    species
0            3.5          0.2     setosa
1            3.0          0.2     setosa
2            3.2          0.2     setosa
3            3.1          0.2     setosa
4            3.6          0.2     setosa
..           ...          ...        ...
145          3.0          2.3  virginica
146          2.5          1.9  virginica
147          3.0          2.0  virginica
148          3.4          2.3  virginica
149          3.0          1.8  virginica

[150 rows x 3 columns]

In [ ]:
# save all columns to a list
df.columns.tolist()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [ ]:
# sorting values by column "sepalW" in ascending order
df.sort_values(by = "sepal_width", ascending = True)

     sepal_length  sepal_width  petal_length  petal_width     species
60            5.0          2.0           3.5          1.0  versicolor
62            6.0          2.2           4.0          1.0  versicolor
119           6.0          2.2           5.0          1.5   virginica
68            6.2          2.2           4.5          1.5  versicolor
41            4.5          2.3           1.3          0.3      setosa
..            ...          ...           ...          ...         ...
16            5.4          3.9           1.3          0.4      setosa
14            5.8          4.0           1.2          0.2      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa

[150 rows x 5 columns]

In [ ]:
# add new calculated column
df['newcol'] = df["sepal_length"]*2
df

     sepal_length  sepal_width  petal_length  petal_width    species  newcol
0             5.1          3.5           1.4          0.2     setosa    10.2
1             4.9          3.0           1.4          0.2     setosa     9.8
2             4.7          3.2           1.3          0.2     setosa     9.4
3             4.6          3.1           1.5          0.2     setosa     9.2
4             5.0          3.6           1.4          0.2     setosa    10.0
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica    13.4
146           6.3          2.5           5.0          1.9  virginica    12.6
147           6.5          3.0           5.2          2.0  virginica    13.0
148           6.2          3.4           5.4          2.3  virginica    12.4
149           5.9          3.0           5.1          1.8  virginica    11.8

[150 rows x 6 columns]

In [ ]:
# create a conditional calculated column
df['newcol'] = ["short" if i<3 else "long" for i in df["sepal_width"]]
df

     sepal_length  sepal_width  petal_length  petal_width    species newcol
0             5.1          3.5           1.4          0.2     setosa   long
1             4.9          3.0           1.4          0.2     setosa   long
2             4.7          3.2           1.3          0.2     setosa   long
3             4.6          3.1           1.5          0.2     setosa   long
4             5.0          3.6           1.4          0.2     setosa   long
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica   long
146           6.3          2.5           5.0          1.9  virginica  short
147           6.5          3.0           5.2          2.0  virginica   long
148           6.2          3.4           5.4          2.3  virginica   long
149           5.9          3.0           5.1          1.8  virginica   long

[150 rows x 6 columns]

**Row Operation (Sort, Filter, Slice)**

In [ ]:
# select rows 3 to 10
df.iloc[3:10,]

   sepal_length  sepal_width  petal_length  petal_width species newcol
3           4.6          3.1           1.5          0.2  setosa   long
4           5.0          3.6           1.4          0.2  setosa   long
5           5.4          3.9           1.7          0.4  setosa   long
6           4.6          3.4           1.4          0.3  setosa   long
7           5.0          3.4           1.5          0.2  setosa   long
8           4.4          2.9           1.4          0.2  setosa  short
9           4.9          3.1           1.5          0.1  setosa   long

In [ ]:
# select rows 3 to 49 and columns 1 to 3
df.iloc[3:50, 1:4]

    sepal_width  petal_length  petal_width
3           3.1           1.5          0.2
4           3.6           1.4          0.2
5           3.9           1.7          0.4
6           3.4           1.4          0.3
7           3.4           1.5          0.2
8           2.9           1.4          0.2
9           3.1           1.5          0.1
10          3.7           1.5          0.2
11          3.4           1.6          0.2
12          3.0           1.4          0.1
13          3.0           1.1          0.1
14          4.0           1.2          0.2
15          4.4           1.5          0.4
16          3.9           1.3          0.4
17          3.5           1.4          0.3
18          3.8           1.7          0.3
19          3.8           1.5          0.3
20          3.4           1.7          0.2
21          3.7           1.5          0.4
22          3.6           1.0          0.2
23          3.3           1.7          0.5
24          3.4           1.9          0.2
25          3.0           1.6          0.2
26          3.4           1.6          0.4
27          3.5           1.5          0.2
28          3.4           1.4          0.2
29          3.2           1.6          0.2
30          3.1           1.6          0.2
31          3.4           1.5          0.4
32          4.1           1.5          0.1
33          4.2           1.4          0.2
34          3.1           1.5          0.1
35          3.2           1.2          0.2
36          3.5           1.3          0.2
37          3.1           1.5          0.1
38          3.0           1.3          0.2
39          3.4           1.5          0.2
40          3.5           1.3          0.3
41          2.3           1.3          0.3
42          3.2           1.3          0.2
43          3.5           1.6          0.6
44          3.8           1.9          0.4
45          3.0           1.4          0.3
46          3.8           1.6          0.2
47          3.2           1.4          0.2
48          3.7           1.5          0.2
49          3.3           1.4          0.2

In [ ]:
# randomly select 10 rows
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species newcol
105           7.6          3.0           6.6          2.1   virginica   long
9             4.9          3.1           1.5          0.1      setosa   long
93            5.0          2.3           3.3          1.0  versicolor  short
45            4.8          3.0           1.4          0.3      setosa   long
121           5.6          2.8           4.9          2.0   virginica  short
17            5.1          3.5           1.4          0.3      setosa   long
7             5.0          3.4           1.5          0.2      setosa   long
116           6.5          3.0           5.5          1.8   virginica   long
30            4.8          3.1           1.6          0.2      setosa   long
5             5.4          3.9           1.7          0.4      setosa   long

In [ ]:
# find rows with specific strings
df[df["species"].isin(["setosa"])]

    sepal_length  sepal_width  petal_length  petal_width species newcol
0            5.1          3.5           1.4          0.2  setosa   long
1            4.9          3.0           1.4          0.2  setosa   long
2            4.7          3.2           1.3          0.2  setosa   long
3            4.6          3.1           1.5          0.2  setosa   long
4            5.0          3.6           1.4          0.2  setosa   long
5            5.4          3.9           1.7          0.4  setosa   long
6            4.6          3.4           1.4          0.3  setosa   long
7            5.0          3.4           1.5          0.2  setosa   long
8            4.4          2.9           1.4          0.2  setosa  short
9            4.9          3.1           1.5          0.1  setosa   long
10           5.4          3.7           1.5          0.2  setosa   long
11           4.8          3.4           1.6          0.2  setosa   long
12           4.8          3.0           1.4          0.1  setosa   long
13           4.3          3.0           1.1          0.1  setosa   long
14           5.8          4.0           1.2          0.2  setosa   long
15           5.7          4.4           1.5          0.4  setosa   long
16           5.4          3.9           1.3          0.4  setosa   long
17           5.1          3.5           1.4          0.3  setosa   long
18           5.7          3.8           1.7          0.3  setosa   long
19           5.1          3.8           1.5          0.3  setosa   long
20           5.4          3.4           1.7          0.2  setosa   long
21           5.1          3.7           1.5          0.4  setosa   long
22           4.6          3.6           1.0          0.2  setosa   long
23           5.1          3.3           1.7          0.5  setosa   long
24           4.8          3.4           1.9          0.2  setosa   long
25           5.0          3.0           1.6          0.2  setosa   long
26           5.0          3.4           1.6          0.4  setosa   long
27           5.2          3.5           1.5          0.2  setosa   long
28           5.2          3.4           1.4          0.2  setosa   long
29           4.7          3.2           1.6          0.2  setosa   long
30           4.8          3.1           1.6          0.2  setosa   long
31           5.4          3.4           1.5          0.4  setosa   long
32           5.2          4.1           1.5          0.1  setosa   long
33           5.5          4.2           1.4          0.2  setosa   long
34           4.9          3.1           1.5          0.1  setosa   long
35           5.0          3.2           1.2          0.2  setosa   long
36           5.5          3.5           1.3          0.2  setosa   long
37           4.9          3.1           1.5          0.1  setosa   long
38           4.4          3.0           1.3          0.2  setosa   long
39           5.1          3.4           1.5          0.2  setosa   long
40           5.0          3.5           1.3          0.3  setosa   long
41           4.5          2.3           1.3          0.3  setosa  short
42           4.4          3.2           1.3          0.2  setosa   long
43           5.0          3.5           1.6          0.6  setosa   long
44           5.1          3.8           1.9          0.4  setosa   long
45           4.8          3.0           1.4          0.3  setosa   long
46           5.1          3.8           1.6          0.2  setosa   long
47           4.6          3.2           1.4          0.2  setosa   long
48           5.3          3.7           1.5          0.2  setosa   long
49           5.0          3.3           1.4          0.2  setosa   long

In [ ]:
# conditional filtering
df[df.sepal_length >= 5]

     sepal_length  sepal_width  petal_length  petal_width    species newcol
0             5.1          3.5           1.4          0.2     setosa   long
4             5.0          3.6           1.4          0.2     setosa   long
5             5.4          3.9           1.7          0.4     setosa   long
7             5.0          3.4           1.5          0.2     setosa   long
10            5.4          3.7           1.5          0.2     setosa   long
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica   long
146           6.3          2.5           5.0          1.9  virginica  short
147           6.5          3.0           5.2          2.0  virginica   long
148           6.2          3.4           5.4          2.3  virginica   long
149           5.9          3.0           5.1          1.8  virginica   long

[128 rows x 6 columns]

In [ ]:
# filtering rows with multiple values e.g. 0.2, 0.3
df[df["petal_width"].isin([0.2, 0.3])]

    sepal_length  sepal_width  petal_length  petal_width species newcol
0            5.1          3.5           1.4          0.2  setosa   long
1            4.9          3.0           1.4          0.2  setosa   long
2            4.7          3.2           1.3          0.2  setosa   long
3            4.6          3.1           1.5          0.2  setosa   long
4            5.0          3.6           1.4          0.2  setosa   long
6            4.6          3.4           1.4          0.3  setosa   long
7            5.0          3.4           1.5          0.2  setosa   long
8            4.4          2.9           1.4          0.2  setosa  short
10           5.4          3.7           1.5          0.2  setosa   long
11           4.8          3.4           1.6          0.2  setosa   long
14           5.8          4.0           1.2          0.2  setosa   long
17           5.1          3.5           1.4          0.3  setosa   long
18           5.7          3.8           1.7          0.3  setosa   long
19           5.1          3.8           1.5          0.3  setosa   long
20           5.4          3.4           1.7          0.2  setosa   long
22           4.6          3.6           1.0          0.2  setosa   long
24           4.8          3.4           1.9          0.2  setosa   long
25           5.0          3.0           1.6          0.2  setosa   long
27           5.2          3.5           1.5          0.2  setosa   long
28           5.2          3.4           1.4          0.2  setosa   long
29           4.7          3.2           1.6          0.2  setosa   long
30           4.8          3.1           1.6          0.2  setosa   long
33           5.5          4.2           1.4          0.2  setosa   long
35           5.0          3.2           1.2          0.2  setosa   long
36           5.5          3.5           1.3          0.2  setosa   long
38           4.4          3.0           1.3          0.2  setosa   long
39           5.1          3.4           1.5          0.2  setosa   long
40           5.0          3.5           1.3          0.3  setosa   long
41           4.5          2.3           1.3          0.3  setosa  short
42           4.4          3.2           1.3          0.2  setosa   long
45           4.8          3.0           1.4          0.3  setosa   long
46           5.1          3.8           1.6          0.2  setosa   long
47           4.6          3.2           1.4          0.2  setosa   long
48           5.3          3.7           1.5          0.2  setosa   long
49           5.0          3.3           1.4          0.2  setosa   long

In [ ]:
# multi-conditional filtering
df[(df.petal_length > 1) & (df.species=="setosa") | (df.sepal_width < 3)]

     sepal_length  sepal_width  petal_length  petal_width    species newcol
0             5.1          3.5           1.4          0.2     setosa   long
1             4.9          3.0           1.4          0.2     setosa   long
2             4.7          3.2           1.3          0.2     setosa   long
3             4.6          3.1           1.5          0.2     setosa   long
4             5.0          3.6           1.4          0.2     setosa   long
..            ...          ...           ...          ...        ...    ...
132           6.4          2.8           5.6          2.2  virginica  short
133           6.3          2.8           5.1          1.5  virginica  short
134           6.1          2.6           5.6          1.4  virginica  short
142           5.8          2.7           5.1          1.9  virginica  short
146           6.3          2.5           5.0          1.9  virginica  short

[104 rows x 6 columns]

In [ ]:
# drop rows
df.drop(df.index[1]) # 1 is row index to be deleted

     sepal_length  sepal_width  petal_length  petal_width    species newcol
0             5.1          3.5           1.4          0.2     setosa   long
2             4.7          3.2           1.3          0.2     setosa   long
3             4.6          3.1           1.5          0.2     setosa   long
4             5.0          3.6           1.4          0.2     setosa   long
5             5.4          3.9           1.7          0.4     setosa   long
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica   long
146           6.3          2.5           5.0          1.9  virginica  short
147           6.5          3.0           5.2          2.0  virginica   long
148           6.2          3.4           5.4          2.3  virginica   long
149           5.9          3.0           5.1          1.8  virginica   long

[149 rows x 6 columns]

**Grouping**

In [ ]:
# data grouped by column "species"
X = df.groupby("species")
X

In [ ]:
# return mean values of a column ("sepal_length" ) grouped by "species" column
df.groupby("species")["sepal_length"].mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [ ]:
# return mean values of ALL columns grouped by "species" category
df.groupby("species").mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [ ]:
# get counts in different categories
df.groupby("species").nunique()

            sepal_length  sepal_width  petal_length  petal_width  newcol
species
setosa                15           16             9            6       2
versicolor            21           14            19            9       2
virginica             21           13            20           12       2